html {
   scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

/* barra de menu */ 
header {
    width: 99%;
    height: 50px;
    background: #726C6C;
    border-radius: 0 0 25px 25px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
}

.header-logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 220px;
    height: 100%;
    margin-left: 10px;
    color: #fdb600;
    font-size: 10px;
}

.direcao-index {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fdb600;
    font-size: 25px;
    font-weight: bold;
    z-index: 3;
}

.header-logo img {
    width: 40px;
    height: 30px;
    margin-right: 20px ;
    border-radius: 10px;
}

.header-login {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    position: relative;
    right: 30px;
    cursor: pointer;
    z-index: 3;
}

.header-login img {
    width: 30px;
    transition: all 0.5s ease-in-out;
}

.carrinho-oculto {
    width: 280px;
    background-color: #726C6C;
    height: 200px;
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 1;
    transition: all 5s ease-in-out;
    border-radius: 0 0 20px 20px;
    text-align: center;
    padding: 25px;
}

.carrinho-oculto a {
    margin-top: 10px;
}

.hidded {
    display: none;
    opacity: 0;
    transition: all 5s ease-in-out;
}

.rotacao {
    transform: rotate(180deg);
}




main {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 150px 0;
}

main img {
    width: 600px;
}

.produtos {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 80px;
}


.cardapio-haburgers, .cardapio-fritas, .cardapio-bebidas, .cardapio-sobremesas {
    width: 100%;
    height: 100%;
}

.cardapio-haburgers h2, .cardapio-fritas h2, .cardapio-bebidas h2, .cardapio-sobremesas h2 {
    text-align: center;
    margin: 100px;
}

.cards {
    width: 300px;
    height: 450px;
    border: 1px solid black;
    margin: 20px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0 0 25px 5px #42fd00 ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgs-cards {
    width: 100%;
}

.cardapio-bebidas .imgs-cards {
    width: 80%;
}


.descricao-cards {
    padding: 15px;
    text-align: justify;
    font-size: 20px;
    width: 100%;
    height: 150px;
    overflow: auto;
}

.btns-cards {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 60px;
   width: 100%;
}

.cards .btns-cards button {
    height: 30px;
    width: 120px;
    background: none;
    border: none;
    color: #42fd00;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.btns-cards button img {
    width: 60px;
    transition: all 2s ease-in-out;
}

.btns-cards button img:hover {
    transform: scale(1.3);
    filter: drop-shadow(0 0 1px #fff);
}

hr {
    width: 70%;
    height: 10px;
    border-radius: 20px;
    background-color: #42fd00;
    position: relative;
    border-color: #42fd00;
    margin: 50px;
}

footer{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 10px;
    font-weight: bold;
    background: #726C6C;
    border-radius: 20px 20px 0 0;
}   

footer .caixa-conteudo {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer .caixa-conteudo img {
    width: 400px;
}

footer .caixa-conteudo .contato img {
    width: 50px;
}

footer .caixa-conteudo .contato {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    color: #fdb600;
}

footer .caixa-conteudo .caixa-texto-infos {
    width: 300px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.caixa-texto-infos .link-rodape {
   font-size: 15px;
   width: 350px;
}
