
header {
    background-color: #726c6c;
    box-shadow: 0px 3px 10px #464646;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    gap: 100px;
}
  
  body {
    overflow: hidden;
    height: 100vh;
  
  
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    height: 50px;
   
  }
  
  .logo {
    display: flex;
    gap: 30px;
    align-items: center;
    
  }
  
  .logo img {
    width: 60px;
    height: 50px;
  }

  div{
    border-radius: 20px;
   
    
  }
  #conteudo{
    display: flex;
    justify-content: center;
    align-items: end;
    

  }

  #acompanhamento {
    display: flex;
   border-style: solid;
   height: 50px;
   margin-bottom: 10px;
   
 

  }

  #cadastro{
    display: flex;
    border-style: solid;
   height: 50px;
   margin-bottom: 10px;
 
  
  }

  #central{
    display: flex;
    border-style: solid;
    height: 50px;
    margin-bottom: 10px;
 
  }

  #informaçoes{
    display: flex;
    border-style: solid;
    height: 50px;
    margin-bottom: 10px;
 

  }

  .caixa{
    margin: 100px;

  }  

  img{
padding: 5px;

  }

  .caixa{
    
  }

 