
header {
    background-color: #726c6c;
    box-shadow: 0px 3px 10px #464646;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    gap: 100px;
}
  
#btn-voltar-adm{
  position: fixed;
  bottom: 40px;
  left: 40px;
  font-size: 30px;
  transition: all 0.2s ease-in-out;

  
}



#btn-voltar-adm:hover{
  transform: scale(1.2);



}

#btn-sair-adm{
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 30px;
  transition: all 0.2s ease-in-out;



}

#btn-sair-adm:hover{
  transform: scale(1.2);


}




  body {
   
    height: 100vh;

  }
  
  div{
    border-radius: 20px;
   
    
  }
  main{
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 100px;
    
    

  }

  .menu-adm {
    display: flex;
   border-style: solid;
   margin-bottom: 10px;
   justify-content: space-between;
   align-items: center;
   padding: 20px 40px;
   width: 400px;
   font-size: 22px;

   
 

  }

 
   
    


  

  img{
width: 60px;

  }

  

 