body {
 overflow: hidden;
}

header {
  background-color: #726c6c;
  box-shadow: 0px 3px 10px #464646;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  height: 50px;
}

.logo {
  display: flex;
  gap: 30px;
  align-items: center;
  
}

.logo img {
  width: 60px;
  height: 50px;
}

.main-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-login .img-left img {
  position: absolute;
  top: 20px;
  z-index: -1;
  opacity: 0.5;
  left: 50px;
  transform: rotate(-45deg);
  width: 600px;


}


.left-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background-color: #000000;
  border-radius: 20px;
  box-shadow: 0 0 25px 5px #42fd00;

}

.card-login > h2 {
  font-weight: 800;
  margin: 0;

}

.textfield {
  width: 100%;
   display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px;

}

.textfield > a {
  margin-top: 10px;
  color: #fdb600;
  font-size: 15px;
  text-decoration: none;
}

.textfield > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background-color: #726C6C;
  color: #f0ffffde;
  font-size: 12pt;
  outline: none;
  box-sizing: border-box;
}


.textfield > label {
  color: #42fd00;
  margin-bottom: 10px;
}


.textfield > input::placeholder {
  color: #fdb600;
}

.btn-login {
  width: 220px;
  padding: 16px 0px;
  margin-top: 15px;
  border-radius: 50px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  color: #353030;
  background-color: #42fd00;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #42fd00;

}

@media only screen and (max-width: 950px){
  .card-login{
    width: 85%;

  }
  
}

@media only screen and (max-width: 600px){
  .main-login{
    flex-direction: column;
  }
  .left-login > h2 {
    display: none;
  }

  .left-login{
    width: 100%;
    height: auto;
  }

  .right-login{
    width: 100%;
    height: auto;
  }

  .img-left {
    width: 50vw;
  }

  .card-login{
    width: 90%;
  }
}






