body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header .menu a {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  align-items: center;
  width: 100%;
}

#info-pedidos {
  padding: 30px;
  width: 100%;
  gap: 50px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


#info-pedidos h2 {
  color: #42fd00;
  margin-bottom: 30px;
  margin-left: 50px;
  font-size: 50px;
}


#info-pedidos p {
  margin-bottom: 10px;
  margin-left: 10px;
}


#info-pedidos h3 {
  color: #42fd00;
  font-size: 25px;
  margin-bottom: 25px;
  margin-top: 15px;
}

.valores {
  color: #42fd00;
}

#resumo-pedido {
  display: flex;
  margin-top: 30px;
  margin-right: 50px;
}



.resumo-valores {
  margin-top: 65px;
  margin-bottom: 0;
}

.resumo-valores p {
  
  margin-bottom: 15px;
}



.main-historico {
  background-color: black;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 10px;
  width: 1000px;
  height: 550px;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #42fd00;
}

.box-1 {
  display: flex;
  flex-direction: column;
}

.div-dados {
  display: flex;
  justify-content: space-between;
}

.div-dados > h3 {
  color: #42fd00;
  font-size: 20px;
  margin-left: 20px;
}

.div-dados > p {
  font-size: 20px;
  margin-right: 20px;
  margin-left: 25px;
  color: #42fd00;
}

span {
  color: #fdb600;
}

hr {
  color: #d1d1d1;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.box-2 {
  margin-top: 30px;
  display: flex;
}

.pedido-1 {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
  margin-left: 20px;
}

.pedido-1-img > img {
  border: solid 1px #fdb600;
  border-radius: 40px;
  width: 95px;
  height: 95px;
  box-shadow: 0px 10px 40px #fdb600;
}

.pedido-1-descricao > h4 {
  color: #42fd00;
}

.button-status {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 18px;
}

.button-status > button {
  color: #fdb600;
  background-color: #726c6c;
  font-size: 20px;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  border: 0;
}

.btn-voltar {
  color: #fdb600;
  font-weight: 700;
  font-size: 60px;
  position: fixed;
  left: 0;
  bottom: 0;
  margin-left: 80px;
}



.pedidos {
  display: flex;
  flex-direction: column;
  gap: 35px; 
  margin-top: 15px;
  width: 800px;
  height: 400px;
  padding: 70px;
  overflow: auto;
}

.produto-1 {
  background-color: black;
  display: flex;
  gap: 20px;
  width: 700px;
  height: 250px;
  border-radius: 15px;
  box-shadow: 0px 10px 40px #42fd00;
}

.produto-1-img img {
  width: 150px;
  height: 150px;
  
}

.nome-produto {

  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

}

.nome-produto h3 {
  color: #42fd00;
}

.nome-produto img {
  width: 30px;
  height: 34px;

} 



.produto-1-descricao {
  margin-top: 20px;
  margin-right: 15px;
}

.box-valor-quantidade{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.quantidade {
  font-size: 28px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px white;
  margin-right: 20px;
  margin-bottom: 15px;
  width: 80px;
  height: 40px;
}

.voltar-comprar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-size: 40px;
  gap: 50px;
  margin-right: 100px;
 
}

.voltar-comprar a {
  text-decoration: none;
}



